body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

$back-color1: rgb(248, 113, 35);
$fond-color: rgb(246, 246, 246);
$back-article-color: #e9eaed;

.textline {
  line-height: 1.5em;
  margin-bottom: 1em;
}

button {
  margin-top: 1em;
  margin: 1em auto 0;
  border-radius: 10px;
  padding: 0.8em 1.5em;
  font-size: 16px;
  background-color: $back-color1;
  color: #fff;
  cursor: pointer;
  border: none;
  font-family: "Montserrat", sans-serif;
  &:hover {
    opacity: 0.8;
  }
}
