@import "../app/global.scss";

.footer {
  padding: 0.5em;
  background-color: $back-color1;
  color: #fff;
  &__flex-a {
    padding: 1em 0;
    img {
      height: auto;
      margin: auto;
      display: block;
      width: 180px;
    }
    p {
      text-align: center;
      font-size: 15px;
    }
    &-icon {
      justify-content: center;
      display: flex;
      gap: 0.5em;
      font-size: 50px;
      a {
        color: white;
      }
      a:hover {
        opacity: 0.6;
      }
    }
  }
  &__flex-b {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-anc {
      display: flex;
      list-style-type: none;
      padding: 0;
      li {
        margin-right: 1.5em;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    &-anc .second-anchor:before {
      content: "\2013";
      position: absolute;
      margin-left: -1em;
    }
  }
}

@media (min-width: 1824px) {
  .footer {
    &__flex-a {
      img {
        width: 250px;
      }
      p {
        font-size: 20px;
      }
      &-icon {
        font-size: 70px;
      }
    }
    &__flex-b {
      &-anc {
        li {
          margin-right: 2em;
        }
      }
    }
    &__flex-b {
      p {
        font-size: 20px;
      }
      &-anc {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1028px) {
  .footer__flex-b {
    flex-direction: column;
    p {
      text-align: center;
    }
  }
}
