@import "../global.scss";

.error-page {
  margin: 5em 0 10em;
  text-align: center;
  img {
    width: 300px;
  }
  p {
    margin-bottom: 2em;
  }
  a {
    border-radius: 10px;
    padding: 0.8em 1.5em;
    font-size: 16px;
    background-color: rgb(248, 113, 35);
    color: #fff;
    cursor: pointer;
    border: none;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
