@import "../../global.scss";

.card {
  min-height: 310px;
  max-width: 400px;
  border-radius: 20px;
  background-color: $fond-color;
  box-shadow: 3px 0px 5px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  .card__container {
    border-radius: 25px;
    display: inline-block;
    background-color: $fond-color;
  }

  img {
    border-radius: 10px 10px 0 0;
    width: 400px;
    height: 225px;
    object-fit: fill;
  }

  .card__container__title {
    margin: 4px;
    display: inline-block;
    padding: 5px 13px;
  }

  .card__container__title__span {
    font-size: 21px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
}

.card:hover {
  opacity: 0.8;
  transform: scale3d(1.03, 1.03, 1.03);
}

@media screen and (max-width: 1028px) {
  .card {
    max-width: 300px;
    img {
      width: 300px;
      max-height: 200px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: fit-content;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
