@import "../global.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .active {
    pointer-events: none;
    background-color: rgb(49, 49, 206);
    color: white;
    line-height: 35px;
    width: 35px;
    height: 35px;
  }
  &__chevron {
    display: inherit;
    font-size: 40px;
    align-items: center;
    line-height: 30px;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(122, 115, 115);
    width: 30px;
    height: 30px;
    margin: 0 15px;
  }
  &__number {
    display: flex;
    gap: 15px;
    align-items: center;
    a {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      line-height: 30px;
      text-decoration: none;
      color: black;
      border: 1px solid rgb(122, 115, 115);
      width: 30px;
      height: 30px;
    }
  }
}
